.box{
  width:24%;
  background-color: blue;
  text-align: center;
}
h1{
  color: burlywood;
  padding: 6px;
}

p{
  color:burlywood;
  position: relative;
  left: 10px;
  text-align: center justify;
  padding:6px;
}

@media screen and (min-width:360px) and (max-width:600px){
  .box{
    width: 100%;
    margin-bottom: 2px;
    height: 300px;
  }
  h1{
    font-size: 25px;
  }
}